@charset "utf-8";

* {
  padding: 0;
  margin: 0;
}

.body {
  background-color: black;
}

.h1 {
  color: navy;
  margin-left: 20px;
  font-size: 30px;
}

.div2 {
	background-color: black;
	width: 1600px;
	height: 354px;
	margin-left: 10px;
	margin-right: auto;
}
.div1{
	background-color: black;
    width: 900px;
    height: 354px;
    margin-left: auto;
    margin-right: auto;
}

.par {
	margin-left: 20px;
	color: white;
	text-align: left;
}

.img1 {
	float: right;
	margin-left: 10px;
}

.header {
	color: navy;
	margin-left: 20px;
	font-size: 20px;
	text-decoration: underline;
}

.background {
	background-color: black;
}

.list-group.list-group-flush {
	margin-left: 20px;
	width: 370px;
}

.card {
	height: auto;
	width: 100%;
	text-align: center;
	margin-left: 20px;
	margin-right: auto;
}

.card2 {
	height: auto;
	width: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	color: black;
}

.fa-fa-instagram {
  background: #125688;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 100px;
  heigth: 100px;		
  text-align: center;
  text-decoration: none;
}

